<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Rent car</title>
</head>
<body>
<form action="#" th:action="@{/update/{id}(id=${car.id})}" method="post">
  <label for="firstName">First Name: </label>
  <input type="text" id="firstName" name="firstName">
  <label for="lastName">Last Name: </label>
  <input type="text" id="lastName" name="lastName">
  <label for="phone">Phone: </label>
  <input type="text" id="phone" name="phone">
  <input type="submit" value="Rent car">
</form>
</body>
</html>